.loginbox{
	background-color:rgb(240, 240, 240);
	padding: 20px 20px 20px 20px;
	font-family: Lato;
	font-size: 14px;
	border-radius: 6px;
}
.middle{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 100%;
}
