header {
	background-color: rgb(247, 102, 44);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


	header a {
		color: rgb(51, 55, 68);
		font-weight: 800;
		font-size: 20px;
		text-decoration: none;
	}

		header a:visited {
			color: rgb(51, 55, 68);
		}
		

	header nav a {
		margin-left: 1rem;
	}

		
		header nav a:first-child {
			margin-left: 0;
		}
		
	header section {
		
	}
		

.logo {
	width: 10rem;
	height: 4rem;
}