{% include templates/header.html %}
    <form action="/create/post" method="post" id="list">
   	  <p><input type="text" name="title" placeholder="Title"></p>
      <p><textarea name="description" placeholder="Write a description..."></textarea></p>
      <p><label>1</label><input type="text" name="listitem1" placeholder="List Item 1"></p>
      <p><label>2</label><input type="text" name="listitem2" placeholder="List Item 2"></p>
      <p><label>3</label><input type="text" name="listitem3" placeholder="List Item 3"></p>
      <p><label>4</label><input type="text" name="listitem4" placeholder="List Item 4"></p>
      <p><label>5</label><input type="text" name="listitem5" placeholder="List Item 5"></p>
      <p><label>6</label><input type="text" name="listitem6" placeholder="List Item 6"></p>
      <p><label>7</label><input type="text" name="listitem7" placeholder="List Item 7"></p>
      <p><label>8</label><input type="text" name="listitem8" placeholder="List Item 8"></p>
      <p><label>9</label><input type="text" name="listitem9" placeholder="List Item 9"></p>
      <p><label>10</label><input type="text" name="listitem10" placeholder="List Item 10"></p>
	  <input type="submit" name="submit" />
    </form>
{% include templates/footer.html %}