<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style_sheet.css">
</head>	
	<style>
		section{
			color:red;
			border: 1px solid black;
			min-width: 280px;
			margin: 8px;
			
		}
		article{
			margin:16px;
			box-shadow: 0 2px 5px black;
		}
		h1{
		text-align: center;
		}
		
		.box{
			display:flex;
			justify-content: space-around;
			flex-wrap: wrap;
			
	
		
		}
		.box section{
		flex-grow: 1;
		}
		
	</style>
  <body>
    <h1>Dashboard</h1>
	<!-- <section>User Statistics</section> -->
	<section>
	  <article>
	    <h3>Mist Title</h3>
	    <p>Mist Description</p>
	    <button>Edit</button>
		<!-- Image for each mist may be added in mvp+1-->
	  </article>
	</section>
	
	<div class = "box">
	<section>

		<h1> Popular Mists </h1>
		
		<article>
			<h2>Top 10 Action Movies</h2>
			<ol>
			<li> James Bond</li>
			<li> Mission Impossible</li>
			</ol>
				
		</article>
		
		<article>
			<h2>Top 10 Action Movies</h2>
			<ol>
			<li> James Bond</li>
			<li> Mission Impossible</li>
			</ol>
				
		</article>
		
	</section>
  </body>
</html>

