<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/style_sheet.css">
</head>	
  <body>
    <div class="dashboard">
		<h1>Dashboard</h1>
		
		
		<div class = "box">
		<!-- <section>User Statistics</section> -->
		<section>
		  <article>
			<h2>My Awesome Action Movie Mist</h2>
				<ol>
				<li>James Bond</li>
				<li>Mission Impossible</li>
				<li>The Terminator</li>
				<li>...</li>
				</ol>
			<button>Edit</button>
			<!-- Image for each mist may be added in mvp+1-->
		  </article>
		</section>
	</div>
  </body>
</html>

