{% include templates/header.html %}
    <div class="dashboard">
        {% if not mists %}
            <form>
                <h4> Looks like you don't have any mists! <a href="/create">Create Mist</a></h4>
            </form>
        {% else %}
            {% for type in ['dashboard'] %}
              {% for mist in mists %}
                  {% include templates/preview_mist.html %}
              {% end for %}
            {% end for %}
        {% end if %}
    </div>
{% include templates/footer.html %}

