{% include templates/header.html %}
<form action="/list/{{mist.id}}/edit" method="post">
	<h3>Edit {{mist.name}}</h3>
	<p>
		<label for="mist_title">Title</label><br>
		<input type="text" name="title" placeholder="Title" id="mist_title" value="{{mist.name}}">	
	</p>
	
	<p>
		<label>Items</label>
	</p>
	
	{% for item in mist.list_contents() %}
	<p>
		<input type="text" name="list_item_{{item.item_order + 1}}" placeholder="List Item {{item.item_order + 1}}" value="{{item.content}}">
	</p>
	
	{% end for %}

	<input type="submit" name="Submit">
</form>
{% include templates/footer.html %}
