{% include templates/header.html %}

		<style>
			section{
				border: 1px solid black;
				min-width: 280px;
				margin: 8px;
				
				
			}
			article{
				margin:16px;
				box-shadow: 0 2px 5px black;
				padding-bottom: 2px;
				cursor: pointer;
			}
			h1{
			text-align: center;
			padding-left:3px;
			}
			h2{
			padding-left:5px;
			}
		
			
			.box{
				display:flex;
				justify-content: space-around;
				flex-wrap: wrap;
			}
			.box section{
			flex-grow: 1;
			}
			
			
		</style>

<div class = "box">
<section>

	<h1> Popular Mists </h1>
	
	<article>
		<h2>Top 10 Action Movies</h2>
		<ol>
		<li> James Bond</li>
		<li> Mission Impossible</li>
		</ol>
			
	</article>
	
	<article>
		<h2>Top 10 Action Movies</h2>
		<ol>
		<li> James Bond</li>
		<li> Mission Impossible</li>
		</ol>
			
	</article>
	
</section>

<section>
	<h1> New Mists </h1>
	
	<article>
		<h2>Top 10 Action Movies</h2>
		<ol> 
		<li> James Bond</li>
		<li> Mission Impossible</li>
		</ol>		
	</article>
	
	<article>
		<h2>Top 10 Action Movies</h2>
		<ol>
		<li> James Bond</li>
		<li> Mission Impossible</li>
		</ol>		
	</article>
	
</section>

<section>

	<h1> Recommended Mists </h1>
	
	<article>
		<h2>Top 10 Action Movies</h2>
		<ol>
		<li> James Bond</li>
		<li> Mission Impossible</li>
		</ol>
		
	</article>
	
	<article>
		<h2>Top 10 Action Movies</h2>
		<ol>
		<li> James Bond</li>
		<li> Mission Impossible</li>
		</ol>			
	</article>
	
</section>

</div>
</body>

</html>