</body>
<script>
window.addEventListener("load", function(){
	var button = document.getElementById("profile-button");
	var nav = document.getElementById("nav");
	button.addEventListener("click", function(){
		nav.hidden = false;
	});
	document.documentElement.addEventListener("click", function(event){
		var current_target = event.target;
		while (current_target) {
			if (current_target.localName == "header") {
				return;
			}
			current_target = current_target.parentNode;
		}
		nav.hidden = true;
	});
});

</script>
</html>