<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/style_sheet.css">
		<link rel="stylesheet" type="text/css" href="/static/header.css">
		<title>{{ page_title }} - {{ site_title }}</title>
	</head>
	<body>
		<div id="content">
			<header class="padded">
				<section>
					<nav class="header-nav">
						<a href="/feed">
							<img src="/static/Logo1.png" class="logo">
						</a>
						<a href="/create">Create +</a>
					</nav>
				</section>
				<section>
					<nav class="header-nav">
					  <a href="/feed">Top Lists</a>
						<a href="/dashboard">Dashboard</a>
						<a href="/logout">Logout</a>
					</nav>
				</section>
			</header>
			<div id="body" class="padded">
				<h1>{{ page_title }}</h1>
<script>				
if (window.addEventListener) {
    var keys = [],
        konami = "38,38,40,40,37,39,37,39,66,65";
    
    window.addEventListener("keydown", function(e){
        keys.push(e.keyCode);
        
        if (keys.toString().indexOf(konami) >= 0) {
            
            alert("Konami!!!!");
            
            keys = [];
        };
    }, true);
};
</script>
