<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="style_sheet.css">
		<title>{{ page_title }} - {{ site_title }}</title>
	</head>
	<body>
		<header>
			<a href="/feed">Logo</a>
			<a href="/createlist">Create New List</a>
			<button type="menu" menu="dropdown-menu" id="profile-button">Profile</button>
			<nav hidden id="nav">
				<a href="/dashboard">Dashboard</a>
				<a href="/settings">Settings</a>
				<a href="/signout">Sign Out</a>
			</nav>
		<h1>{{ page_title }}</h1>
		</header>
