<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/style_sheet.css">
		<link rel="stylesheet" type="text/css" href="/static/header.css">
		<title>{{ page_title }} - {{ site_title }}</title>
	</head>
	<body>
		<header class="padded container">
			<section class="left-align">
				<nav>
					<a href="/">Logo</a>
				</nav>
			</section>
			<section class="right-align">
				<nav id="nav">
					<a href="/login">Login</a>
				</nav>
			</section>
		</header>
		<div class="padded">
			<h1>{{ page_title }}</h1>