<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="style_sheet.css">
	</head>	
  <body>
    <section>
      <h1>Welcome to %WEBSITE_NAME%.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse convallis quis libero eu molestie.</p>
      <form action="getform.php" method="get">
         <label>Email<input type="email" name="user_email" /></label><br />
         <label>Username<input type="text" name="first_name" /></label><br />
         <label>Password<input type="password" name="last_name" /></label><br />
      <input type="submit" value="Sign up" />
      </form>
    </section>
    
    <section>
      <p>List</p>
      <p>List</p>
      <p>List</p>
      <p>List</p>
      <p>List</p>
    </section>
  </body>

</html>