{% include templates/header.html %}
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse convallis quis libero eu molestie.</p>
      <form action="/signup" method="post">
         <label>Email<input type="email" name="email" /></label><br />
         <label>Username<input type="text" name="username" /></label><br />
         <label>Password<input type="password" name="password" /></label><br />
      <input type="submit" value="Sign up">
	  </input>
      </form>
    </section>
    
    <section>
		<p>The new and fancy web7.0 HTML-Agnostic Production-ready way to share lists.</p>
    </section>
{% include templates/footer.html %}