<button class="like" id="like-{{ mist.id }}">Like!</button>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<p class="#like-message-{{ mist.id }}">{{ mist.get_likes() }} like this.</p>
<script>
$('#like-{{ mist.id }}').click(function() {
    $.ajax({
        url:'/like',
        data:{'user_id': {{ int(user_id) }}, 'list_id': {{ mist.id }}},
        method:"POST"
    }).done(function(data) {
        $('#like-{{ mist.id }}').prop('disabled', true);
        $('#like-{{ mist.id }}').html('You liked this');
        console.log(data['likes']);
        $('#like-message-{{ mist.id }}').html(data['likes']);
    });
});
</script>
