<button class="like" id="like-{{type}}{{ mist.id }}"{% if mist.user_has_liked(user_id) %}>You have liked this{% else %}>Like!{% end if %}</button>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<p id="like-message-{{type}}{{ mist.id }}"><span>{{ mist.get_likes() }}</span> like this.</p>
<script>
(function () {
var is_liked = {{ str(mist.user_has_liked(user_id)).lower() }};

$('#like-{{type}}{{ mist.id }}').click(function() {
    $.ajax({
        url: is_liked ? '/unlike' : '/like',
        data:{'user_id': {{ int(user_id) }}, 'list_id': {{ mist.id }}},
        method:"POST"
    }).done(function(data) {
        is_liked = !is_liked;
        if (is_liked) {
            $('#like-{{type}}{{ mist.id }}').html('You liked this');
        } else {
            $('#like-{{type}}{{ mist.id }}').html('Like this!');
        }
        $('#like-message-{{type}}{{ mist.id }} span').text(data['likes']);
    });
});
}());
</script>
