<button class="like" id="like-{{ mist.id }}"{% if mist.user_has_liked(user_id) %}disabled="">You have liked this{% else %}>Like!{% end if %}</button>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<p id="like-message-{{ mist.id }}"><span>{{ mist.get_likes() }}</span> like this.</p>
<script>
$('#like-{{ mist.id }}').click(function() {
    $.ajax({
        url:'/like',
        data:{'user_id': {{ int(user_id) }}, 'list_id': {{ mist.id }}},
        method:"POST"
    }).done(function(data) {
        $('#like-{{ mist.id }}').prop('disabled', true);
        $('#like-{{ mist.id }}').html('You liked this');
        $('#like-message-{{ mist.id }} span').text(data['likes']);
    });
});
</script>
