{% include templates/header.html %}

<section class="padded">
	<form action="/login" method="post">
        <h3>Login</h3>
		<p>
			Don't have an account? <a href="/signup">Sign up</a>
		</p>
        <p>
			<label for="login_username">Username</label><br>
			<input type="text" name="username" id="login_username">
		</p>
		<p>
			<label for="login_password">Password</label><br>
			<input type="password" name="password" id="login_password">
		</p>
		<input type="submit" value="Login">
	</form>
</section>
{% include templates/footer.html %}
