{% include templates/header.html %}

	<div class="middle">
	<div class="loginbox">
	
			<section>
				
					<form action="/login" method="post">
					<p><label for="username">Username:</label>&thinsp;
					<input type="text" name="username" id="username" style="
						float:  right;
						margin: left;
					">
					<br>
					</p>
					<p><label for="password">Password:</label>&thinsp;
					<input type="password" name="password" id="password" style="
						float:  right;
						margin: left;
					">
					</p>
					<p>
						<input type="submit">
						<a href="/signup">Sign up?</a>
					</p>
					</form>
				
		</section>
	</div>
	</div><!-- .middle -->

{% include templates/footer.html %}