<html>
	<head>
		<link rel="stylesheet" href="style_sheet.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="style_sheet.css">
	</head>
	<body class="login">
	<div class="middle">
	<div class="loginbox">
	<header>
		<h2>Login:</h2>
	</header>
			<section>
				
					<form>
					<p><label for="username">Username:</label>&thinsp;
					<input type="text" name="username" id="username" style="
						float:  right;
						margin: left;
					">
					<br>
					</p>
					<p><label for="password">Password:</label>&thinsp;
					<input type="password" name="password" id="password" style="
						float:  right;
						margin: left;
					">
					</p>
					<p>
						<input type="submit" name="Login" value="Login">
						<a href="https://www.google.com.au/">Signup?</a>
					</p>
					</form>
				
		</section>
	</div>
	</div><!-- .middle -->
	</body>
</html>