<section>
	<form>
		<p><label for="username">Username: </label><br>
		<input type="text" name="username" id="username"></p>
		<p><label for="password">Password: </label><br>
		<input type="password" name="password" id="password"></p>
		<p><label for="confirmpassword">Confirm Password: </label><br>
		<input type="password" name="confirmpassword" id="confirmpassword"></p>
		<p><label for="email">E-mail: </label><br>
		<input type="email" name="email" id="email"></p>
		<p><label for="confirmemail">Confirm E-mail: </label><br>
		<input type="email" name="confirmemail" id="confirmemail"></p>
		<input type="submit" name="signup" value="Signup">
	</form>
</section>
	