<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="style_sheet.css">
	</head>
	<body>
	<header>
		<h1>Signup Page:</h1>
	</header>
		<section>
			<form>
				<p><label for="username">Username: </label><br>
				<input type="text" name="username" id="username"></p>
				<p><label for="password">Password: </label><br>
				<input type="password" name="password" id="password"></p>
				<p><label for="confirmpassword">Confirm Password: </label><br>
				<input type="password" name="confirmpassword" id="confirmpassword"></p>
				<p><label for="email">E-mail: </label><br>
				<input type="email" name="email" id="email"></p>
				<p><label for="confirmemail">Confirm E-mail: </label><br>
				<input type="email" name="confirmemail" id="confirmemail"></p>
				<input type="submit" name="signup" value="Signup">
			</form>
		</section>
	</body>
</html>