  <html>
  <body>
	<header>
		<h1>Our Squad Website</h1>
	</header>
	<article>
		<section>
				<h2>Mists</h2>
				<ul>
					<li>Coffee</li>
					<li>Dog</li>
					<li>Cat</li>
					<li>highlighter</li>
					<li>Coffee</li>
				</ul>
				<p>
				<strong>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante nisi, malesuada at orci non, laoreet tempus justo. Aliquam aliquam magna et tellus ultrices, sit amet sollicitudin nibh bibendum. Nunc vel fermentum metus. In fringilla, nulla non rhoncus pretium, dolor magna consequat nibh, nec viverra quam enim dignissim dolor. Mauris a urna turpis. Pellentesque vulputate ex sollicitudin sem eleifend, vulputate ultricies diam dignissim. Vivamus ultrices finibus viverra. Donec iaculis eleifend elit nec lacinia. Sed rhoncus, metus id eleifend viverra, nisl lorem auctor orci, ac mattis libero libero non felis. Curabitur finibus enim blandit sem fermentum dapibus. Quisque ut nibh dapibus, commodo erat in, dapibus nunc. Integer ornare condimentum mauris vel vehicula. Suspendisse molestie, lacus ac ultricies egestas, justo mauris posuere mi, scelerisque ultrices elit dolor mollis elit. Pellentesque bibendum nulla in enim hendrerit, a interdum dui egestas.
				</strong>
				</p>
				
				<p>
				Here is a bunch of p stuff: <br>
				<a href="https://www.google.com.au/">Google</a>
				</p>
		</section>

		<section>
			<h2>Real Mists</h2>
			<ol>
				<li>Coffee</li>
				<li>Dog</li>
				<li>Cat</li>
				<li>highlighter</li>
				<li>Coffee</li>
			</ol>
			
			<form>
				<label for="first_name">First Name: </label>
				<input type="text" name="first_name" id="first_name">
				<label for="last_name">Last Name: </label>
				<input type="text" name="last_name" id="last_name">
				<label for="password">Password: </label>
				<input type="password" name="password" id="password">
				<label for="radio">Radio: </label>
				<input type="radio" name="radio" id="radio">
				<label for="checkbox">Checkbox: </label>
				<input type="checkbox" name="checkbox" id="checkbox">
				<label for="textbox">Text Box: </label>
				<textarea id="textbox">
					
				</textarea>
				
				<input type="submit" name="Submit">
				
			
			</form>
			<p>
			<em>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ante nisi, malesuada at orci non, laoreet tempus justo. Aliquam aliquam magna et tellus ultrices, sit amet sollicitudin nibh bibendum. Nunc vel fermentum metus. In fringilla, nulla non rhoncus pretium, dolor magna consequat nibh, nec viverra quam enim dignissim dolor. Mauris a urna turpis. Pellentesque vulputate ex sollicitudin sem eleifend, vulputate ultricies diam dignissim. Vivamus ultrices finibus viverra. Donec iaculis eleifend elit nec lacinia. Sed rhoncus, metus id eleifend viverra, nisl lorem auctor orci, ac mattis libero libero non felis. Curabitur finibus enim blandit sem fermentum dapibus. Quisque ut nibh dapibus, commodo erat in, dapibus nunc. Integer ornare condimentum mauris vel vehicula. Suspendisse molestie, lacus ac ultricies egestas, justo mauris posuere mi, scelerisque ultrices elit dolor mollis elit. Pellentesque bibendum nulla in enim hendrerit, a interdum dui egestas.
			</em>
			</p>
		<footer>
		  <p>Posted by: Squad 1 Squad Goals LOLOLOLOLOLOL</p>
		  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
		</footer>
		</section>
	</article>
  </body>
  
  </html>