html {
	border-top: 5px solid rgb(247, 102, 44);
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: rgb(51, 55, 68);
	margin: 0 2rem 3rem 2rem;
}

h1 {
	font-size: 46px;
	font-weight: 300;
	font-style: italic;
}

h2 {
	font-size: 27px;
	font-weight: 700;
}

h3 {
	font-size: 21px;
	color: rgb(112, 120, 128);
}

h1, h2, h3 {
	line-height: 1.3em;
}

p {
	margin-top: -0.5rem;
}

ul, ol {
	margin-top: -0.5rem;
}

form {
	background-color: rgb(240, 240, 240);
	padding: 1px 2rem 2rem 2rem;
}

	form input[type="checkbox"], form input[type="radio"]{
		margin-left: 1rem;
	}
	
	
/*
Login page
*/
.login .loginbox{
	background-color:rgb(240, 240, 240);
	padding: 20px 20px 20px 20px;
	font-family: Lato;
	font-size: 14px;
	border-radius: 6px;
}
.login .middle{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 100%;
}