<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="style_sheet.css">
	</head>
	<body>
		<h2>Title</h2>
		<a href="/like">Like</a>
		<ul>
			<li>Mist Element 1</li>
			<li>Mist Element 2</li>
			<li>Mist Element 3</li>
			<li>Mist Element 4</li>
			<li>Mist Element 5</li>
		</ul>
	</body>
</html>