{% include templates/header.html %}
<article class="list-preview">
	<ol> 
	{% for item in mist.list_contents() %}
		<li> {{ item.content }} </li>
	{% end for %}
	</ol>
	
	{% for item in mist.list_contents() %}
		{% if image_fetcher(item.content) != 'placeholder.png' and image_fetcher(item.content) != "N/A" %}
			<img src="{{ image_fetcher(item.content) }}" alt = "movie image poster" height = "140" width = "94">
		{% end if %}
    {% end for %}
	
	<menu class="list-actions">
		<nav>
			{% include templates/like.html %}
		</nav>
		<nav>
			<a class = "list-action green" href="/list/{{mist.id}}/edit">Edit</a>
			<a class = "list-action red" href="/list/{{mist.id}}/delete">Delete</a>
		</nav>
	</menu>
	<!-- Image for each mist may be added in mvp+1-->
	
</article>
<br>
{% include templates/footer.html %}
